hull:
  config:
    general:
      metadata:
        labels:
          common:
            app.kubernetes.io/part-of: golem-orchestrator
            app.kubernetes.io/version: _HT*hull.config.specific.tag
    specific:
      matrix_api_url: https://matrix-rest-api.salad.com
      providers_namespace: golem-providers
      requestors_namespace: golem-requestors
      secrets_timestamp: "1766265454"
      storage_class_name: do-block-storage
      tag: "4ec544e"
      yagna_account: "0x57123711a7dc9731458fc6b06df23a7a5d871fba"
      yagna_api_key: "15155534c5cc4bfe9cca9717a5e1873d"
      yagna_api_url: http://requestor-15155534c5cc4bfe9cca9717a5e1873d-0.requestor-15155534c5cc4bfe9cca9717a5e1873d.golem-requestors.svc.cluster.local:7465
  objects:
    customresource:
      orchestrator-env:
        apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        annotations:
          external-secrets.io/force-sync: _HT*hull.config.specific.secrets_timestamp
        spec:
          dataFrom:
            - find:
                path: Golem Orchestrator Environment
                name:
                  regexp: '^\$.*'
              rewrite:
                - regexp:
                    source: '^\$(.*)$'
                    target: "$1"
          refreshInterval: 1h
          secretStoreRef:
            kind: ClusterSecretStore
            name: onepassword-secret-store
          target:
            name: _HT^orchestrator-env
      plan-importer-env:
        apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        annotations:
          external-secrets.io/force-sync: _HT*hull.config.specific.secrets_timestamp
        spec:
          dataFrom:
            - find:
                path: Golem Plan Importer Environment
                name:
                  regexp: '^\$.*'
              rewrite:
                - regexp:
                    source: '^\$(.*)$'
                    target: "$1"
          refreshInterval: 1h
          secretStoreRef:
            kind: ClusterSecretStore
            name: onepassword-secret-store
          target:
            name: _HT^plan-importer-env
      price-importer-env:
        apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        annotations:
          external-secrets.io/force-sync: _HT*hull.config.specific.secrets_timestamp
        spec:
          dataFrom:
            - find:
                path: Golem Price Importer Environment
                name:
                  regexp: '^\$.*'
              rewrite:
                - regexp:
                    source: '^\$(.*)$'
                    target: "$1"
          refreshInterval: 1h
          secretStoreRef:
            kind: ClusterSecretStore
            name: onepassword-secret-store
          target:
            name: _HT^price-importer-env
    role:
      providers-role:
        namespaceOverride: _HT*hull.config.specific.providers_namespace
        rules:
          configmaps:
            apiGroups: [""]
            resources: ["configmaps"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
          pods:
            apiGroups: [""]
            resources: ["pods"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
          secrets:
            apiGroups: [""]
            resources: ["secrets"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
      requestors-role:
        namespaceOverride: _HT*hull.config.specific.requestors_namespace
        rules:
          configmaps:
            apiGroups: [""]
            resources: ["configmaps"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
          pods:
            apiGroups: [""]
            resources: ["pods"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
          secrets:
            apiGroups: [""]
            resources: ["secrets"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
          services:
            apiGroups: [""]
            resources: ["services"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
          statefulsets:
            apiGroups: ["apps"]
            resources: ["statefulsets"]
            verbs: ["get", "list", "watch", "create", "update", "patch", "delete", "deletecollection"]
    rolebinding:
      providers-rolebinding:
        namespaceOverride: _HT*hull.config.specific.providers_namespace
        roleRef:
          apiGroup: rbac.authorization.k8s.io
          kind: Role
          name: _HT^providers-role
        subjects:
          - kind: ServiceAccount
            name: _HT^default
            namespace: _HT**Release.Namespace
      requestors-rolebinding:
        namespaceOverride: _HT*hull.config.specific.requestors_namespace
        roleRef:
          apiGroup: rbac.authorization.k8s.io
          kind: Role
          name: _HT^requestors-role
        subjects:
          - kind: ServiceAccount
            name: _HT^default
            namespace: _HT**Release.Namespace
    statefulset:
      orchestrator:
        minReadySeconds: 60
        pod:
          containers:
            orchestrator:
              env:
                API_KEY:
                  value: _HT*hull.config.specific.yagna_api_key
                API_URL:
                  value: _HT*hull.config.specific.yagna_api_url
                MATRIX_API_URL:
                  value: _HT*hull.config.specific.matrix_api_url
                NODES_DATABASE_FILE_PATH:
                  value: /app/data/nodes.db
                PLANS_DATABASE_FILE_PATH:
                  value: /app/data/plans.db
                PRICES_DATABASE_FILE_PATH:
                  value: /app/data/prices.db
                YAGNA_ACCOUNT:
                  value: _HT*hull.config.specific.yagna_account
              envFrom:
                orchestrator-env:
                  secretRef:
                    name: orchestrator-env
              image:
                registry: docker.io
                repository: saladtechnologies/golem-orchestrator
                tag: _HT*hull.config.specific.tag
              resources:
                limits:
                  cpu: "1"
                  memory: 1Gi
                requests:
                  cpu: 10m
                  memory: 64Mi
              volumeMounts:
                data-pvc:
                  mountPath: /app/data/
                  name: data-pvc
            plan-importer:
              env:
                DATA_DIRECTORY:
                  value: /app/data
                PLANS_DATABASE_FILE_PATH:
                  value: /app/data/plans.db
              envFrom:
                plan-importer-env:
                  secretRef:
                    name: plan-importer-env
              image:
                registry: docker.io
                repository: saladtechnologies/golem-plan-importer
                tag: _HT*hull.config.specific.tag
              resources:
                limits:
                  cpu: "1"
                  memory: 1Gi
                requests:
                  cpu: 10m
                  memory: 64Mi
              volumeMounts:
                data-pvc:
                  mountPath: /app/data/
                  name: data-pvc
            price-importer:
              env:
                DATABASE_FILE_PATH:
                  value: /app/data/prices.db
              envFrom:
                price-importer-env:
                  secretRef:
                    name: price-importer-env
              image:
                registry: docker.io
                repository: saladtechnologies/golem-price-importer
                tag: _HT*hull.config.specific.tag
              resources:
                limits:
                  cpu: "1"
                  memory: 1Gi
                requests:
                  cpu: 10m
                  memory: 64Mi
              volumeMounts:
                data-pvc:
                  mountPath: /app/data/
                  name: data-pvc
          terminationGracePeriodSeconds: 60
        replicas: 1
        revisionHistoryLimit: 1
        serviceName: _HT^orchestrator
        updateStrategy:
          rollingUpdate:
            partition: 0
          type: RollingUpdate
        volumeClaimTemplates:
          - metadata:
              name: data-pvc
            spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
              storageClassName: _HT*hull.config.specific.storage_class_name
