hull:
  config:
    general:
      metadata:
        labels:
          common:
            app.kubernetes.io/part-of: golem-network
            app.kubernetes.io/version: _HT*hull.config.specific.yagna_tag
      rbac: false
    specific:
      busybox_tag: "1.37"
      max_polygon_gas_fee: "1000"
      storage_class_name: do-block-storage
      # yagna_network: polygongas.org:7999
      # yagna_network_type: central
      yagna_network: relay-net1-0.relay-net1.golem-requestors.svc.cluster.local:7477
      yagna_network_type: hybrid
      yagna_tag: v0.17.6-1
  objects:
    secret:
      requestor-env:
        data:
          YAGNA_AUTOCONF_ID_SECRET:
            path: _HT!{{- printf "deployments/%s/privateKey.txt" _HT**Release.Name -}}
        metadataNameOverride: _HT!{{- printf "requestor-env-%s" _HT**Release.Name -}}
        staticName: true
    service:
      requestor:
        clusterIP: None
        metadataNameOverride: _HT!{{- printf "requestor-%s" _HT**Release.Name -}}
        ports:
          http:
            port: 7465
            protocol: TCP
            targetPort: http
        staticName: true
        type: ClusterIP
    serviceaccount:
      default:
        enabled: false
    statefulset:
      requestor:
        metadataNameOverride: _HT!{{- printf "requestor-%s" _HT**Release.Name -}}
        minReadySeconds: 60
        pod:
          initContainers:
            consent-writer:
              command:
                - sh
                - -c
                - |
                  echo "Stats allow" > /mnt/yagna/CONSENT && \
                  chown 1000:1000 /mnt/yagna/CONSENT && \
                  chmod 0664 /mnt/yagna/CONSENT
              image:
                registry: docker.io
                repository: busybox
                tag: _HT*hull.config.specific.busybox_tag
              resources:
                limits:
                  cpu: 40m
                  memory: 128Mi
                requests:
                  cpu: 10m
                  memory: 32Mi
              volumeMounts:
                yagna-pvc:
                  mountPath: /mnt/yagna
                  name: yagna-pvc
          containers:
            yagna:
              args:
                - service
                - run
              env:
                # CENTRAL_NET_HOST:
                #   value: _HT*hull.config.specific.yagna_network
                POLYGON_MAX_FEE_PER_GAS:
                  value: _HT*hull.config.specific.max_polygon_gas_fee
                YA_NET_RELAY_HOST:
                  value: _HT*hull.config.specific.yagna_network
                YA_NET_TYPE:
                  value: _HT*hull.config.specific.yagna_network_type
                YAGNA_API_URL:
                  value: http://0.0.0.0:7465
                YAGNA_AUTOCONF_APPKEY:
                  value: _HT**Release.Name
              envFrom:
                requestor-env:
                  secretRef:
                    name: _HT!{{- printf "requestor-env-%s" _HT**Release.Name -}}
                    staticName: true
              image:
                registry: docker.io
                repository: saladtechnologies/golem-requestor
                tag: _HT*hull.config.specific.yagna_tag
              livenessProbe:
                failureThreshold: 3
                httpGet:
                  httpHeaders:
                    - name: Authorization
                      value: _HT!{{- printf "Bearer %s" _HT**Release.Name -}}
                  path: /version/get
                  port: 7465
                initialDelaySeconds: 10
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
              ports:
                http:
                  containerPort: 7465
                  protocol: TCP
              resources:
                limits:
                  cpu: "1"
                  memory: 1Gi
                requests:
                  cpu: 250m
                  memory: 256Mi
              volumeMounts:
                yagna-pvc:
                  mountPath: /home/ubuntu/.local/share/yagna/
                  name: yagna-pvc
          securityContext:
            fsGroup: 1000
          terminationGracePeriodSeconds: 60
        replicas: 1
        revisionHistoryLimit: 1
        serviceName: _HT!{{- printf "requestor-%s" _HT**Release.Name -}}
        staticName: true
        updateStrategy:
          rollingUpdate:
            maxUnavailable: 1
            partition: 0
          type: RollingUpdate
        volumeClaimTemplates:
          - metadata:
              name: yagna-pvc
            spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 1Gi
              storageClassName: _HT*hull.config.specific.storage_class_name
